name: Test elixir
on: push

jobs:
  run:
    name: Test elixir
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
      - uses: actions/cache@v4
        with:
          path: |
            deps
            _build
          key: ${{ runner.os }}-mix-${{ hashFiles('**/mix.lock') }}
          restore-keys: |
            ${{ runner.os }}-mix-
      - name: Setup elixir
        uses: erlef/setup-beam@v1
        with:
          otp-version: 27.0
          elixir-version: 1.19.5
      - name: Install mix dependencies
        run: mix deps.get --only test

      - name: mix test
        run: mix test
        env:
          OWM_API_KEY: ${{ secrets.OWM_API_KEY }}
